In [6]:
# Import the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
# Define settings
import os

pd.set_option("display.precision", 3)
data_dir_path = os.getcwd() + '/dataverse_files/'

In [8]:
# Import data
import pyreadr

croissance_et_climat_decadaires = pyreadr.read_r(data_dir_path + "croissance_et_climat_decadaires.rds" ).popitem()[1]
valorisation_annuelle = pyreadr.read_r(data_dir_path + "valorisation_annuelle.rds" ).popitem()[1]

## Preparation of croissance et climat decadaires

In [9]:
df = croissance_et_climat_decadaires
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [10]:
print(df.shape)
print(df.columns)
print(df.info())

(18693829, 14)
Index(['ucs', 'safran', 'sol', 'type_de_prairie', 'gestion', 'annee', 'decade',
       'Tmin', 'Tmax', 'Tmoy', 'Rain', 'RG', 'im', 'croissance'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18693829 entries, 0 to 18693828
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   ucs              int32
 1   safran           int32
 2   sol              int32
 3   type_de_prairie  object
 4   gestion          int32
 5   annee            float64
 6   decade           float64
 7   Tmin             float64
 8   Tmax             float64
 9   Tmoy             float64
 10  Rain             float64
 11  RG               float64
 12  im               float64
 13  croissance       float64
dtypes: float64(9), int32(4), object(1)
memory usage: 1.7+ GB
None

In [11]:
df.describe(include= "all")

,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
count,1.869e+07,1.869e+07,1.869e+07,18693829,1.869e+07,1.867e+07,1.867e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.857e+07,1.867e+07
unique,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,tp4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,10563388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.054e+03,2.523e+03,3.308e+05,NaN,1.362e+01,1.999e+03,1.900e+01,8.249e+00,1.464e+01,1.145e+01,2.578e+01,1.085e+02,4.798e+01,3.710e+01
std,2.229e+02,5.508e+02,6.531e+02,NaN,9.407e+00,8.626e+00,1.068e+01,4.365e+00,5.607e+00,4.893e+00,2.499e+01,6.581e+01,4.897e+01,3.066e+01
min,6.400e+02,1.309e+03,3.303e+05,NaN,1.000e+00,1.984e+03,1.000e+00,-8.760e+00,-5.380e+00,-7.020e+00,0.000e+00,7.170e+00,0.000e+00,0.000e+00
25%,8.880e+02,2.120e+03,3.306e+05,NaN,5.000e+00,1.991e+03,1.000e+01,5.040e+00,1.043e+01,7.855e+00,6.800e+00,4.684e+01,1.144e+01,1.090e+01
50%,1.080e+03,2.497e+03,3.306e+05,NaN,1.500e+01,1.999e+03,1.900e+01,8.290e+00,1.425e+01,1.118e+01,1.890e+01,1.043e+02,3.297e+01,2.812e+01
75%,1.222e+03,2.895e+03,3.306e+05,NaN,2.100e+01,2.006e+03,2.800e+01,1.191e+01,1.910e+01,1.554e+01,3.720e+01,1.615e+02,6.876e+01,5.997e+01
max,1.610e+03,3.886e+03,3.327e+05,NaN,3.000e+01,2.013e+03,3.700e+01,2.069e+01,3.117e+01,2.530e+01,2.404e+02,2.990e+02,5.007e+02,1.424e+02

In [12]:
df["croissance"][
    (df["decade"] % 37 >= 1) &
    (df["decade"] % 37 <= 3) &
    (df["annee"] <= (df["annee"].max() - 5))
].mean()

9.566901385807041

Average of the growth over the first three decades of previous years

In [13]:
df["croissance"][
    (df["decade"] == df["decade"].max()) &
    (df["annee"] <= (df["annee"].max() - 5))
].mean()

7.173342123796508

Average of the growth over the last decade of previous years

In [14]:
df[["ucs", "safran", "sol", "gestion"]].corr()

           ucs  safran    sol  gestion
ucs      1.000   0.937  0.085   -0.168
safran   0.937   1.000  0.032   -0.180
sol      0.085   0.032  1.000   -0.013
gestion -0.168  -0.180 -0.013    1.000

## Feature extraction

Pedo-Climatic Units (PCU), result from the crossing of the climatic information (SAFRAN grid point) and soil information (UCS soil mapping units).

In [15]:
df_unique_pcu = df.drop_duplicates(subset= ['ucs', 'safran'])[["ucs", "safran"]]
df_unique_pcu['pcu'] = df_unique_pcu.reset_index().index

df = pd.merge(df, df_unique_pcu, on= ['ucs','safran'])
df.insert(0, "pcu", df.pop('pcu'))
df.head()

,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,0,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,0,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,0,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,0,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [16]:
df[["ucs", "safran", "sol", "gestion", "pcu"]].corr()

           ucs  safran    sol  gestion    pcu
ucs      1.000   0.937  0.085   -0.168  0.432
safran   0.937   1.000  0.032   -0.180  0.444
sol      0.085   0.032  1.000   -0.013 -0.085
gestion -0.168  -0.180 -0.013    1.000 -0.084
pcu      0.432   0.444 -0.085   -0.084  1.000

In [17]:
df_unique_pcu = df.drop_duplicates(subset= ['ucs','safran', 'sol', 'type_de_prairie', 'gestion'])[['ucs','safran', 'sol', 'type_de_prairie', 'gestion']]
df_unique_pcu['id'] = df_unique_pcu.reset_index().index

df = pd.merge(df, df_unique_pcu, on= ['ucs','safran','sol', 'type_de_prairie', 'gestion'])
df.insert(0, "id", df.pop('id'))
df.head()

,id,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance
0,0,0,789,2131,330343,tp3,20,1985.0,1.0,-2.289,3.178,0.444,12.3,28.912,43.573,0.032
1,0,0,789,2131,330343,tp3,20,1985.0,2.0,-5.740,-0.410,-3.075,19.5,33.793,104.188,0.000
2,0,0,789,2131,330343,tp3,20,1985.0,3.0,3.770,9.130,6.450,36.8,24.751,82.772,0.046
3,0,0,789,2131,330343,tp3,20,1985.0,4.0,8.230,12.450,10.340,14.4,32.975,26.195,0.075
4,0,0,789,2131,330343,tp3,20,1985.0,5.0,-1.380,2.520,0.570,25.3,48.912,88.562,0.015

In [18]:
df[["id"]].drop_duplicates("id").count()["id"]

20262

C'est le nombre de tuples (UCS, SAFRAN, SOL, prairie, gestion) différents.

In [19]:
df[["pcu"]].drop_duplicates("pcu").count()["pcu"]

1241

C'est le nombre de tuples (UCS, SAFRAN) différents.

In [20]:
(df.groupby(["id", "annee"]).count()["decade"] == 37).all()

True

There is no more than one group of consecutive decades per year and per tuple (UCS, SAFRAN, SOL, prairie, gestion).

In [21]:
(df.groupby(["id", "annee", "decade"]).count().max() == 1).all()

True

Moreover, there is only one entry per year and per decade for a fixed tuple (UCS, SAFRAN, SOL, prairie, gestion).

In [22]:
df.groupby(["id", "decade"]).count()[["annee"]].describe().loc["min":"max"]

     annee
min   15.0
25%   20.0
50%   22.0
75%   30.0
max   30.0

Finally, only the year will change over the whole simulated period, i.e. 30 years, for each decade and for any tuple (UCS, SAFRAN, SOL, prairie, gestion).

Therefore, all groups of decades have the same values for the tuple (UCS, SAFRAN, SOL, prairie, gestion) and only the year will change (over the whole simulated period, ie 30 years).

So (UCS, SAFRAN, SOL, prairie, gestion) is the identifier.

In [23]:
identifier_columns = ["ucs", "safran", "sol", "type_de_prairie", "gestion"]

## Select years

In [24]:
nb_annees = 5
annee_inf = df["annee"].max() - nb_annees
df = df.loc[(df["annee"] > annee_inf), :]

## Sort by ID, annee and then decade

In [25]:
df.sort_values(by= identifier_columns+["annee", "decade"], inplace=True)

In [26]:
identifier_columns.remove("type_de_prairie")

## Data cleansing

In [27]:
(df.isna() | df.isnull()).sum()

id                     0
pcu                    0
ucs                    0
safran                 0
sol                    0
type_de_prairie        0
gestion                0
annee                  0
decade                 0
Tmin               18796
Tmax               18796
Tmoy               18796
Rain               18796
RG                 18796
im                 18796
croissance             0
dtype: int64

In [28]:
df.dropna(inplace= True)

In [29]:
(df.isna() | df.isnull()).sum().sum() == 0

True

Now that we have removed the NaN and Null values, we need to check whether we have any missing decades among the years.

In [30]:
(df.groupby(["id", "annee"]).count()["decade"] == 37).all()

True

All the (id, year) pairs have a number of decades equals to 37, which means all of them remain complete.

In [31]:
df.drop_duplicates("id").count()["id"]

20148

This is the number of tuples (UCS, SAFRAN, SOL, grassland, management), or IDs, that have full years.

In [27]:
df.groupby(["id", "decade"]).count()[["annee"]].describe().loc["min":"max"]

     annee
min    3.0
25%    4.0
50%    4.0
75%    5.0
max    5.0

## Correct the dataframe

In [28]:
df["annee"] = df["annee"].astype("int64")
df["decade"] = df["decade"].astype("int64")

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3313979 entries, 701563 to 12506710
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   pcu              int64
 2   ucs              int32
 3   safran           int32
 4   sol              int32
 5   type_de_prairie  object
 6   gestion          int32
 7   annee            int64
 8   decade           int64
 9   Tmin             float64
 10  Tmax             float64
 11  Tmoy             float64
 12  Rain             float64
 13  RG               float64
 14  im               float64
 15  croissance       float64
dtypes: float64(7), int32(4), int64(4), object(1)
memory usage: 379.3+ MB
None

In [30]:
croissance_et_climat_decadaires_preprocessed = df

# Preparation of annual valuations

In [31]:
df = valorisation_annuelle
df.head()

,ucs,safran,sol,type_de_prairie,gestion,annee,valorisation,RU,cumul_croissance
0,1005,2245,330562,tp3,15,1985.0,4.964,97.42,8.757
1,1005,2245,330562,tp3,15,1986.0,8.173,97.42,14.620
2,1005,2245,330562,tp3,15,1987.0,12.666,97.42,16.287
3,1005,2245,330562,tp3,15,1989.0,5.825,97.42,9.063
4,1005,2245,330562,tp3,15,1990.0,7.212,97.42,11.758

## Feature selection

In [32]:
valuable_columns = identifier_columns+["annee", "cumul_croissance"]
df = valorisation_annuelle.loc[:, valuable_columns]

In [33]:
(df.isna() | df.isnull()).sum()

ucs                 0
safran              0
sol                 0
gestion             0
annee               0
cumul_croissance    0
dtype: int64

## Correct the dataframe

In [34]:
df[["annee"]] = df[["annee"]].astype("int64")
df[["cumul_croissance"]] = df[["cumul_croissance"]].astype("float64")
df.head()

    ucs  safran     sol  gestion  annee  cumul_croissance
0  1005    2245  330562       15   1985             8.757
1  1005    2245  330562       15   1986            14.620
2  1005    2245  330562       15   1987            16.287
3  1005    2245  330562       15   1989             9.063
4  1005    2245  330562       15   1990            11.758

In [35]:
valorisation_annuelle_preprocessed = df

# Concatenation

In [36]:
X = croissance_et_climat_decadaires_preprocessed.merge(valorisation_annuelle_preprocessed, how= 'left', on= identifier_columns+["annee"])
X.iloc[35:39]

,id,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance,cumul_croissance
35,746,47,640,1309,330637,tp3,3,2009,36,2.090,6.450,4.270,48.2,22.14,124.975,0.017,17.656
36,746,47,640,1309,330637,tp3,3,2009,37,6.417,10.283,8.350,33.8,12.06,68.153,0.297,17.656
37,746,47,640,1309,330637,tp3,3,2010,1,0.700,4.156,2.428,23.3,20.46,69.369,1.563,16.509
38,746,47,640,1309,330637,tp3,3,2010,2,2.860,8.160,5.510,25.9,30.43,61.786,4.439,16.509

We can see that when a decade ends (passage from the 37th decade to the 1st), we change year (passage from 1985 to 1986) and we remain in the same tuple (UCS, SAFRAN, SOL, grassland, management), or ID.

In [37]:
identifier_columns[3:3] += ["type_de_prairie"]

## Cleansing of abberations

In [38]:
WrongCumul = X.groupby(identifier_columns+["annee"]).sum(numeric_only= True)["croissance"] / 100 != X.groupby(identifier_columns+["annee"]).last()["cumul_croissance"]
WrongCumul.sum()

42835

This is the number of pairs (id, year) whose theoretical cumulative growth is not equal to the observed cumulative growth.

In [39]:
X = X.merge(WrongCumul.reset_index(), how='left', on= identifier_columns+["annee"])
WrongIndexes = X[X[0] == True].index

X.drop(WrongIndexes, inplace= True)
X.drop(columns=0, inplace= True)
X.head()

,id,pcu,ucs,safran,sol,type_de_prairie,gestion,annee,decade,Tmin,Tmax,Tmoy,Rain,RG,im,croissance,cumul_croissance
0,746,47,640,1309,330637,tp3,3,2009,1,-0.211,4.00,1.894,7.7,36.41,23.952,0.216,17.656
1,746,47,640,1309,330637,tp3,3,2009,2,4.520,9.08,6.800,33.1,33.31,72.899,11.649,17.656
2,746,47,640,1309,330637,tp3,3,2009,3,5.010,9.35,7.180,70.6,32.13,152.049,12.362,17.656
3,746,47,640,1309,330637,tp3,3,2009,4,2.730,6.41,4.570,24.9,40.76,63.233,6.984,17.656
4,746,47,640,1309,330637,tp3,3,2009,5,3.740,9.05,6.395,26.0,54.43,58.676,10.092,17.656

## Split dataset

In [42]:
safran_quantile_07 = X.drop_duplicates("safran")["safran"].quantile(0.7)
# Train set is 70% of the data set
train_index = X[X["safran"] <= safran_quantile_07].index
test_index = X[X["safran"] > safran_quantile_07].index

safran_test_median = X[X.index.isin(test_index)].drop_duplicates("safran")["safran"].median()
# Validation set is 15% of the data set
val_index = X[(X["safran"] <= safran_test_median) & (X["safran"] > safran_quantile_07)].index
# Test set is 15% of the data set
test_index = X[X["safran"] > safran_test_median].index

## Before and after the quantile make 100% of the safran values.
assert    X[X.index.isin(train_index)].drop_duplicates("safran")["safran"].count() \
       +  X[X.index.isin(val_index)].drop_duplicates("safran")["safran"].count() \
       +  X[X.index.isin(test_index)].drop_duplicates("safran")["safran"].count() \
       == X.drop_duplicates("safran")["safran"].count()

## Train set and test set make 100% of the dataset.
assert    len(X[X.index.isin(train_index)]) \
       +  len(X[X.index.isin(val_index)]) \
       +  len(X[X.index.isin(test_index)]) \
       == len(X)

In [43]:
data_columns = ["Tmin", "Tmax", "Tmoy", "Rain", "RG", "im", "croissance", "cumul_croissance"]
X = X.loc[:, data_columns]
X.head()

    Tmin  Tmax   Tmoy  Rain     RG       im  croissance  cumul_croissance
0 -0.211  4.00  1.894   7.7  36.41   23.952       0.216            17.656
1  4.520  9.08  6.800  33.1  33.31   72.899      11.649            17.656
2  5.010  9.35  7.180  70.6  32.13  152.049      12.362            17.656
3  2.730  6.41  4.570  24.9  40.76   63.233       6.984            17.656
4  3.740  9.05  6.395  26.0  54.43   58.676      10.092            17.656

In [44]:
(X.isna() | X.isnull()).sum().sum() == 0

True

In [45]:
Y = pd.DataFrame({'croissance':X.pop('croissance')})

In [46]:
X_train = X[X.index.isin(train_index)]
X_val = X[X.index.isin(val_index)]
X_test = X[X.index.isin(test_index)]

Y_train = Y[Y.index.isin(train_index)]
Y_val = Y[Y.index.isin(val_index)]
Y_test = Y[Y.index.isin(test_index)]

In [47]:
X_train

          Tmin   Tmax    Tmoy   Rain     RG       im  cumul_croissance
0       -0.211   4.00   1.894    7.7  36.41   23.952            17.656
1        4.520   9.08   6.800   33.1  33.31   72.899            17.656
2        5.010   9.35   7.180   70.6  32.13  152.049            17.656
3        2.730   6.41   4.570   24.9  40.76   63.233            17.656
4        3.740   9.05   6.395   26.0  54.43   58.676            17.656
...        ...    ...     ...    ...    ...      ...               ...
3512664  7.110  14.16  10.635   12.3  35.02   22.055            15.084
3512665  5.900  12.73   9.315   77.9  25.09  149.226            15.084
3512666  4.740  10.46   7.600  146.6  20.83  308.193            15.084
3512667  4.090  10.48   7.285   30.0  25.96   64.218            15.084
3512668  5.467  11.50   8.483   24.6  16.24   49.244            15.084

[1050615 rows x 7 columns]

In [48]:
Y_train

         croissance
0             0.216
1            11.649
2            12.362
3             6.984
4            10.092
...             ...
3512664      17.366
3512665       9.431
3512666       2.368
3512667       3.184
3512668       8.262

[1050615 rows x 1 columns]